.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin-inline: 25%;
  padding-inline: 5%;
  padding-block: 5%;
}

.mt-6 {
  margin-top: 24px;
}

.mb-6 {
  margin-bottom: 24px;
}

.container-px {
  padding-inline: 15%;
}

.mx {
  margin-inline: 15%;
}

.icon-opacity {
  opacity: 0.5;
}

.icon-lg {
  font-size: large;
}

.font-lg {
  font-size: large;
}

.icon-loading {
  font-size: xx-large;
}

.font-bold {
  font-weight: bold;
}

.text-right {
  text-align: right;
}